In [1]:
import torch

from util import TokenizerUtil

tokenizer = TokenizerUtil()

input_ids, _ = tokenizer.encode('how are you', max_length=6)

input_ids, attention_mask = tokenizer.pad_to_left(input_ids)

input_ids, attention_mask, tokenizer.decode(input_ids)

/root/miniconda3/envs/cuda117/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

(tensor([   1,    1,    0, 9178,   32,   47]),
 tensor([0, 0, 1, 1, 1, 1]),
 '<pad><pad><s>how are you')

In [2]:
from datasets import load_dataset
from transformers import default_data_collator

dataset = load_dataset(
    'json',
    data_files='/root/code/DeepSpeed-Chat_my/data/train.json',
    split='train')

#2,4,4切分,取最后一部分
dataset = dataset.select(range(45000, len(dataset)))


def f(data):
    input_ids, _ = tokenizer.encode(data['prompt'], max_length=256)
    input_ids, attention_mask = tokenizer.pad_to_left(input_ids)

    return {'input_ids': input_ids, 'attention_mask': attention_mask}


dataset = dataset.map(f, remove_columns=dataset.column_names)

loader = torch.utils.data.DataLoader(dataset,
                                     collate_fn=default_data_collator,
                                     batch_size=4,
                                     shuffle=True,
                                     drop_last=True)

len(loader), next(iter(loader))

(7144,
 {'input_ids': tensor([[   1,    1,    1,  ...,  116, 6267,   35],
          [   1,    1,    1,  ...,  116, 6267,   35],
          [   1,    1,    1,  ...,  116, 6267,   35],
          [   1,    1,    1,  ...,  116, 6267,   35]]),
  'attention_mask': tensor([[0, 0, 0,  ..., 1, 1, 1],
          [0, 0, 0,  ..., 1, 1, 1],
          [0, 0, 0,  ..., 1, 1, 1],
          [0, 0, 0,  ..., 1, 1, 1]])})

In [3]:
from transformers import AutoConfig, AutoModelForCausalLM, get_scheduler
import lora

model_actor = AutoModelForCausalLM.from_pretrained('model/actor', dropout=0.0)
lora.insert(model_actor)


def f():
    params = []
    params_lora = []
    for n, p in model_actor.named_parameters():
        if not p.requires_grad:
            continue
        if 'lora_A' in n or 'lora_B' in n:
            params_lora.append(p)
            continue
        params.append(p)

    return [{
        'params': params,
        'weight_decay': 0.0
    }, {
        'params': params_lora,
        'weight_decay': 0.0,
        'lr': 5e-4
    }]


optimizer_actor = torch.optim.Adam(f(), lr=1e-5, betas=(0.9, 0.95))

scheduler_actor = get_scheduler(name='cosine',
                                optimizer=optimizer_actor,
                                num_warmup_steps=100,
                                num_training_steps=800)

model_actor.gradient_checkpointing_enable()
model_actor.train()

lora.count_params(model_actor)

Loading checkpoint shards: 100%|██████████| 2/2 [00:22<00:00, 11.13s/it]

{'count_require': 2.21044736, 'count_all': 14.29004288, 'ratio': 0.15468444556549854}

In [4]:
class CriticModel(torch.nn.Module):

    def __init__(self):
        super().__init__()

        from transformers import AutoModel
        self.rwtransformer = AutoModel.from_pretrained('facebook/opt-350m',
                                                       dropout=0.0)

        self.v_head = torch.nn.Linear(512, 1, bias=False)

    def get_value(self, input_ids, attention_mask):
        value = self.rwtransformer(
            input_ids=input_ids,
            attention_mask=attention_mask).last_hidden_state
        return self.v_head(value).squeeze(2)

    def get_reward(self, input_ids, attention_mask):
        value = self.get_value(input_ids, attention_mask)

        reward = []
        for i, v in zip(input_ids, value):
            end = input_ids.shape[1] - 1
            if tokenizer.eos_token_id in i:
                end = i.tolist().index(tokenizer.eos_token_id)
            reward.append(v[end])
        reward = torch.stack(reward)

        return reward


model_critic = torch.load('model/critic')

optimizer_critic = torch.optim.Adam(model_critic.parameters(),
                                    lr=5e-6,
                                    betas=(0.9, 0.95))

scheduler_critic = get_scheduler(name='cosine',
                                 optimizer=optimizer_critic,
                                 num_warmup_steps=100,
                                 num_training_steps=800)

model_critic.train()

lora.count_params(model_critic)

{'count_require': 3.31196928, 'count_all': 3.31196928, 'ratio': 1.0}

In [5]:
from accelerate import Accelerator

model_ref = AutoModelForCausalLM.from_pretrained('model/actor')
model_reward = torch.load('model/critic')

model_ref.eval()
model_reward.eval()

accelerator = Accelerator(gradient_accumulation_steps=1,
                          mixed_precision='fp16')

(loader, model_actor, optimizer_actor, scheduler_actor, model_critic,
 optimizer_critic,
 scheduler_critic) = accelerator.prepare(loader, model_actor, optimizer_actor,
                                         scheduler_actor, model_critic,
                                         optimizer_critic, scheduler_critic)

Loading checkpoint shards: 100%|██████████| 2/2 [00:08<00:00,  4.08s/it]
Detected kernel version 3.10.0, which is below the recommended minimum of 5.5.0; this can cause the process to hang. It is recommended to upgrade the kernel to the minimum version or higher.

In [6]:
@torch.no_grad()
def get_generate(input_ids, attention_mask):
    generate = model_actor.generate(input_ids,
                                    attention_mask=attention_mask,
                                    max_length=512,
                                    pad_token_id=tokenizer.pad_token_id,
                                    eos_token_id=tokenizer.eos_token_id)

    lens = (generate[:, 256:] != tokenizer.pad_token_id).sum(1)

    return generate[lens > 1]


data = next(iter(loader))

get_generate(**data).shape

`use_cache=True` is incompatible with gradient checkpointing. Setting `use_cache=False`...
/root/miniconda3/envs/cuda117/lib/python3.10/site-packages/torch/utils/checkpoint.py:31: UserWarning: None of the inputs have requires_grad=True. Gradients will be None
  warnings.warn("None of the inputs have requires_grad=True. Gradients will be None")

torch.Size([4, 299])

In [7]:
def get_prob(prob, index):
    prob = prob.log_softmax(dim=2)
    prob = prob.gather(dim=2, index=index.unsqueeze(2))
    return prob.squeeze(2)


get_prob(torch.randn(4, 123, 999), torch.randint(0, 999, (4, 123))).shape

torch.Size([4, 123])

In [8]:
last_generate = None


@torch.no_grad()
def get_batch(input_ids, attention_mask):
    #input_ids -> [4, 256]
    #attention_mask -> [4, 256]
    global last_generate

    #根据问题生成回答
    #[4, gen_lens]
    generate = get_generate(input_ids, attention_mask)

    #制作缓存,防止所有回答为空的情况
    if len(generate):
        last_generate = generate
    else:
        generate = last_generate

    #[4, gen_lens]
    generate_mask = (generate != tokenizer.pad_token_id).long()

    #两个模型分别取回答被预测到的概率
    #[4, gen_lens-1]
    prob_old = model_actor(input_ids=generate,
                           attention_mask=generate_mask).logits
    prob_old = get_prob(prob_old[:, :-1], generate[:, 1:])

    #取每个词的value
    #[4, gen_lens-1]
    value_old = model_critic.get_value(generate, generate_mask)[:, :-1]

    #[4, gen_lens-1]
    prob_ref = model_ref(
        input_ids=generate.to('cpu'),
        attention_mask=generate_mask.to('cpu')).logits.to('cuda')
    prob_ref = get_prob(prob_ref[:, :-1], generate[:, 1:])

    #取回答的分数
    #[4]
    reward = model_reward.get_reward(generate.to('cpu'),
                                     generate_mask.to('cpu')).to('cuda')

    return generate, generate_mask, prob_old, prob_ref, value_old, reward


generate, generate_mask, prob_old, prob_ref, value_old, reward = get_batch(
    **data)

generate.shape, generate_mask.shape, prob_old.shape, prob_ref.shape, value_old.shape, reward.shape

(torch.Size([4, 299]),
 torch.Size([4, 299]),
 torch.Size([4, 298]),
 torch.Size([4, 298]),
 torch.Size([4, 298]),
 torch.Size([4]))

In [9]:
def get_reward_kl(end, prob_old, prob_ref, reward):
    #prob_old -> [4, gen_lens-1]
    #prob_ref -> [4, gen_lens-1]
    #reward -> [4]

    #两份预测概率求kl散度
    #[4, gen_lens-1]
    reward_kl = -0.1 * (prob_old - prob_ref)

    #把原本的reward加在kl散度的最后一个字上
    for i, e in enumerate(end):
        if e >= reward_kl.shape[1]:
            e = -1
        reward_kl[i, e] += reward[i].clamp(-5, 5)

    #[4, gen_lens-1]
    return reward_kl


end = generate_mask[:, 256:].sum(1) + 255
end = end.tolist()

reward_kl = get_reward_kl(end, prob_old, prob_ref, reward)

reward_kl.shape

torch.Size([4, 298])

In [10]:
#解释见get_delta_note函数
def get_delta(value_old, reward_kl):
    #value_old -> [4, gen_lens-1]
    #reward_kl -> [4, gen_lens-1]

    #gen_lens-2 -> 255
    delta = []
    for i in reversed(range(255, value_old.shape[1])):
        #[4]
        value_next = 0.0
        if i != value_old.shape[1] - 1:
            value_next = value_old[:, i + 1]

        #[4]
        d = reward_kl[:, i] + value_next - value_old[:, i]
        if len(delta):
            d += 0.95 * delta[-1]
        delta.append(d)

    #[4, gen_lens-256]
    delta = torch.stack(delta[::-1], dim=1)

    return delta


delta = get_delta(value_old, reward_kl)

delta.shape

torch.Size([4, 43])

In [11]:
#get_delta函数的原理解释,注释性代码
#数学上和get_delta函数等价,但是运行效率低
def get_delta_note(value_old, reward_kl):
    #循环中自减会出问题,所以先clone一份再操作
    clone = value_old.clone()

    #下一个词的value,减去当前词的value,相当于对value去基线,缩小数值方差
    #每个词的value是相互独立的,前后词value的差,可以视为预测质量的衡量
    for i in range(255, value_old.shape[1]):
        value_next = 0.0
        if i != value_old.shape[1] - 1:
            value_next = value_old[:, i + 1]
        clone[:, i] = value_next - value_old[:, i]
    value_old = clone

    #在value中融合reward,kl
    value_old += reward_kl

    #蒙特卡洛采样法估计Q函数
    #这里计算的其实就是adv
    delta = []
    for i in range(255, value_old.shape[1]):
        s = 0
        for j in range(i, value_old.shape[1]):
            s += value_old[:, j] * 0.95**(j - i)
        delta.append(s)

    return torch.stack(delta, dim=1)


#测试两个函数是等价的,误差是由于计算机精度导致的
for i in range(1000):
    value_old_test = torch.randn(4, 285)
    reward_kl_test = torch.randn(4, 285)

    diff = get_delta(value_old_test, reward_kl_test) - get_delta_note(
        value_old_test, reward_kl_test)
    diff = diff.abs().max().item()
    assert diff < 1e-5
'test success'

'test success'

In [12]:
def get_loss_actor(prob_new, prob_old, delta, generate_mask):
    prob_new = prob_new[:, 255:]
    prob_old = prob_old[:, 255:]
    generate_mask = generate_mask[:, 256:]

    #prob_new -> [4, gen_lens-256]
    #prob_old -> [4, gen_lens-256]
    #delta -> [4, gen_lens-256]
    #generate_mask -> [4, gen_lens-256]

    #对数概率,求差就是求商,所以这里求的是新旧概率的变化率
    #[4, gen_lens-256]
    ratio = ((prob_new - prob_old) * generate_mask).exp()

    #delta是估计出来的去基线Q值,以变化率来缩放Q值
    #最大化Q值,以此来寻找最优的actor
    #裁剪,防止自举
    #[4, gen_lens-256]
    loss1 = delta * ratio
    loss2 = delta * ratio.clamp(0.8, 1.2)
    loss = torch.min(loss1, loss2) * generate_mask
    loss = loss.sum() / generate_mask.sum() / 8
    return -loss


loss_actor = get_loss_actor(prob_old, prob_old, delta, generate_mask)

loss_actor

tensor(0.2290, device='cuda:0')

In [13]:
def get_loss_critic(value_new, value_old, delta, generate_mask):
    value_new = value_new[:, 255:]
    value_old = value_old[:, 255:]
    generate_mask = generate_mask[:, 256:]

    #value_new -> [4, gen_lens-256]
    #value_old -> [4, gen_lens-256]
    #delta -> [4, gen_lens-256]
    #generate_mask -> [4, gen_lens-256]

    #delta是估计出来的去基线Q值,加上value_old后还原为Q值
    #value_new和Q值求mse loss即可,因为value都是对Q函数的估计
    #裁剪,防止自举
    #[4, gen_lens-256]
    loss1 = (value_new - delta - value_old)**2
    value_new = value_new.clamp(value_old - 0.2, value_old + 0.2)
    loss2 = (value_new - delta - value_old)**2

    #求平均
    loss = torch.max(loss1, loss2) * generate_mask
    loss = loss.sum() / 2 / generate_mask.sum() / 8

    return loss


loss_critic = get_loss_critic(value_old, value_old, delta, generate_mask)

loss_critic

tensor(0.4388, device='cuda:0')

In [14]:
def train(generate, generate_mask, prob_old, prob_ref, value_old, reward,
          do_step):
    #generate -> [4, gen_lens]
    #generate_mask -> [4, gen_lens]
    #prob_old -> [4, gen_lens-1]
    #prob_ref -> [4, gen_lens-1]
    #value_old -> [4, gen_lens-1]
    #reward -> [4]
    #do_step -> bool

    #求出每句话结束的索引
    #[4]
    end = generate_mask[:, 256:].sum(1) + 255
    end = end.tolist()

    #结束以后的value归零
    for i, e in enumerate(end):
        value_old[i, e + 1:] = 0

    with torch.no_grad():
        #计算新旧概率的kl散度,再把reward加在最后一个字上
        #[4, gen_lens-1]
        reward_kl = get_reward_kl(end, prob_old, prob_ref, reward)

        #估计去基线的Q值
        #[4, gen_lens-256]
        delta = get_delta(value_old, reward_kl)

    #重新计算回答被生成的概率
    #[4, gen_lens-1]
    prob_new = model_actor(input_ids=generate,
                           attention_mask=generate_mask).logits
    prob_new = get_prob(prob_new[:, :-1], generate[:, 1:])

    #更新actor
    loss_actor = get_loss_actor(prob_new, prob_old, delta, generate_mask)
    accelerator.backward(loss_actor)
    if do_step:
        accelerator.clip_grad_norm_(
            [i for i in model_actor.parameters() if i.requires_grad], 1.0)
        optimizer_actor.step()
        scheduler_actor.step()
        optimizer_actor.zero_grad()

    #重新计算每个词的value
    #[4, gen_lens-1]
    value_new = model_critic.get_value(input_ids=generate,
                                       attention_mask=generate_mask)[:, :-1]

    #更新critic
    loss_critic = get_loss_critic(value_new, value_old, delta, generate_mask)
    accelerator.backward(loss_critic)
    if do_step:
        accelerator.clip_grad_norm_(model_critic.parameters(), 1.0)
        optimizer_critic.step()
        scheduler_critic.step()
        optimizer_critic.zero_grad()

    return loss_actor.item(), loss_critic.item()


train(generate, generate_mask, prob_old, prob_ref, value_old, reward, True)

(0.05860239639878273, 0.14592543244361877)

In [15]:
for i, data in enumerate(loader):
    #生成数据
    (generate, generate_mask, prob_old, prob_ref, value_old,
     reward) = get_batch(**data)

    do_step = (i + 1) % 8 == 0

    #训练
    loss_actor, loss_critic = train(generate, generate_mask, prob_old,
                                    prob_ref, value_old, reward, do_step)

    if do_step:
        lr_actor = optimizer_actor.param_groups[0]['lr']
        lr_critic = optimizer_critic.param_groups[0]['lr']
        print(i, len(loader), loss_actor, loss_critic, lr_actor, lr_critic)
        print(tokenizer.decode(generate[0, 256:]))
        print(reward[0].item())

    if i == 2500:
        break

lora.merge(model_actor)
model_actor.save_pretrained('model/rlhf')

7 7144 0.06728362292051315 0.13812726736068726 2.0000000000000002e-07 1.0000000000000001e-07
SELECT FATHERS_NAME from TABLE_NAME_89 where SPOUSER = "OTTOKAR II" and BIRTH = "1204"</s>
-4.665192604064941
15 7144 0.05079767480492592 0.13388875126838684 3.0000000000000004e-07 1.5000000000000002e-07
SELECT division_title FROM table_name_87 WHERE playoffs_appearances = "23" AND conference_titles = "1"</s>
-4.969192028045654
23 7144 -0.02076289989054203 0.07107175141572952 4.0000000000000003e-07 2.0000000000000002e-07
SELECT MAX(TOTAL) FROM table_name_61 WHERE gold < 1 AND bronze < 1 AND silver < 1 AND gold > 1 AND bronze > 1 AND silver > 1 AND gold > 1 AND bronze > 1 AND gold > 1 AND silver > 1 AND gold > 1 AND bronze > 1 AND gold > 1 AND silver > 1 AND gold > 1 AND bronze > 1 AND gold > 1 AND silver > 1 AND gold > 1 AND bronze > 1 AND gold > 1 AND silver > 1 AND gold > 1 AND bronze > 1 AND gold > 1 AND silver > 1 AND gold > 1 AND bronze > 1 AND gold > 1 AND silver > 1 AND gold > 1 AND bronze > 1 AND gold > 1 AND silver > 1 AND gold > 1 AND silver > 1 AND gold > 1 AND bronze > 1 AND gold > 1 AND silver > 1 AND gold > 1 AND bronze > 1 AND gold > 1 AND silver > 1 AND gold > 1 AND silver > 1 AND gold > 1 AND bronze > 1 AND gold > 1 AND silver > 1 AND gold > 1 AND bronze > 1 AND gold > 1 AND silver > 1 AND gold > 1 AND bronze > 1 AND gold > 1 AND silver > 1 AND gold > 1 AND bronze > 1 AND silver > 1
1.0344781875610352
31 7144 0.021626608446240425 0.15791529417037964 5.000000000000001e-07 2.5000000000000004e-07
SELECT opponent FROM table_name_73 WHERE record = "86-62"</s>
-5.610930442810059
39 7144 0.04333529621362686 0.12650182843208313 6.000000000000001e-07 3.0000000000000004e-07
SELECT goals FROM table_name_6 WHERE country = "france"</s>
-5.845401287078857
47 7144 -0.0010221455013379455 0.1052459329366684 7.000000000000001e-07 3.5000000000000004e-07
select MIN(pick__number) from TABLE_NAME_97 where POSITION = "defensive tackle" and PLAYER = "Lorenzo Freeman"</s>
5.297737121582031
55 7144 0.008534885011613369 0.11543802171945572 8.000000000000001e-07 4.0000000000000003e-07
SELECT others FROM table_name_10 WHERE szdsz = "4%" AND fidesz = "60%"</s>
-5.172423839569092
63 7144 -0.02657955326139927 0.10900154709815979 9.000000000000001e-07 4.5000000000000003e-07
select YEAR(s__won) from TABLE_NAME_42 where TOTAL < 293 and PLAYER = "hale irwin"</s>
5.5256757736206055
71 7144 -0.04583214968442917 0.10045618563890457 1.0000000000000002e-06 5.000000000000001e-07
select TYPE_OF_GAME from TABLE_NAME_17 where RESULTS¹ = "0:0"</s>
4.633450031280518
79 7144 -0.046569887548685074 0.10667181015014648 1.1e-06 5.5e-07
select RECORD from TABLE_NAME_38 where DATE = "NOVEMBER 12"</s>
6.219855785369873
87 7144 -0.01407866645604372 0.10831796377897263 1.2000000000000002e-06 6.000000000000001e-07
select RESULT from TABLE_NAME_79 where DATE = "NOVEMBER 24, 2002"</s>
5.642355442047119
95 7144 -0.015037435106933117 0.10266099870204926 1.3e-06 6.5e-07
select SURFACE from TABLE_NAME_16 where SCORE = "4–6, 6–4, 3–6"</s>
5.736869812011719
103 7144 -0.044633008539676666 0.1278841197490692 1.4000000000000001e-06 7.000000000000001e-07
select YEAR from TABLE_NAME_58 where CATALOGUE = "รอเธอหันมา – โฟกัส"</s>
4.945871829986572
111 7144 -0.03414836898446083 0.09234659373760223 1.5e-06 7.5e-07
select SOUND_PRICE from TABLE_2638104_1 where CALL_SIGNAL_PRICE = "JOAB-DTV"</s>
5.50108003616333
119 7144 0.004100877325981855 0.0924663320183754 1.6000000000000001e-06 8.000000000000001e-07
select RUNNER from TABLE_NAME_80 where TOTAL = "2"</s>
5.719141483306885
127 7144 -0.010415674187242985 0.10225076973438263 1.7000000000000002e-06 8.500000000000001e-07
select 2006 FROM table_2328113_1 WHERE mother_tongue = "poles"</s>
5.148213863372803
135 7144 -0.01642061024904251 0.09112893044948578 1.8000000000000001e-06 9.000000000000001e-07
select TABLE_NAME_83 from TABLE_NAME_82 where RANK > 7</s>
5.647308826446533
143 7144 0.011298622004687786 0.07250917702913284 1.9000000000000002e-06 9.500000000000001e-07
select max(speed__ghz_) from TABLE_269920_16 where MODEL = "W3540"</s>
5.065927505493164
151 7144 -0.047582484781742096 0.05529959127306938 2.0000000000000003e-06 1.0000000000000002e-06
select HOME_TEAM from TABLE_NAME_64 where HOME_TEAM = "NORTH MELBOURNE"</s>
5.073512077331543
159 7144 -0.012967714108526707 0.043142594397068024 2.1000000000000002e-06 1.0500000000000001e-06
select settlement FROM table_2562572_26 WHERE cyrillic_name_other_names = "đurđin"</s>
4.340605735778809
167 7144 0.0012918668799102306 0.042974136769771576 2.2e-06 1.1e-06
select TIME from TABLE_NAME_86 where WRESTLER = "NATALYA"</s>
5.190241813659668
175 7144 0.02245437167584896 0.034979965537786484 2.3000000000000004e-06 1.1500000000000002e-06
select max(upstream) from TABLE_17304621_14 where Price_TL = "39 tl"</s>
5.136510848999023
183 7144 0.02336741052567959 0.03354145213961601 2.4000000000000003e-06 1.2000000000000002e-06
select STATUS from TABLE_19061741_1 where NAME = "nel rapiz"</s>
5.090132236480713
191 7144 0.0033920013811439276 0.024983355775475502 2.5e-06 1.25e-06
select LAND_sqmi__ from TABLE_NAME_79 where WATER_sqmi__ < 0.04 and LONGITUDE_96.79477062</s>
5.003951549530029
199 7144 -0.02530285343527794 0.01723288558423519 2.6e-06 1.3e-06
select max(YEAR) from TABLE_NAME_52 where LAPS > 196</s>
5.4529266357421875
207 7144 -0.013800928369164467 0.0209150779992342 2.7000000000000004e-06 1.3500000000000002e-06
select count(*) from TABLE_22171978_1 where LOCATION = "naga, camarines sur"</s>
4.774313449859619
215 7144 -0.001177821308374405 0.027951452881097794 2.8000000000000003e-06 1.4000000000000001e-06
select TIME from TABLE_NAME_78 where OPPONENT = "Satoshi Honma"</s>
5.983563423156738
223 7144 -0.024631276726722717 0.02361643873155117 2.9e-06 1.45e-06
select max(YEAR_WON) from TABLE_NAME_6 where FINISH = "t24" and COUNTRY = "england"</s>
4.975122451782227
231 7144 0.006516146007925272 0.021238837391138077 3e-06 1.5e-06
select TEAM_NAME from TABLE_25421463_1 where POINTS < 38</s>
5.242241859436035
239 7144 0.015232661738991737 0.02996467798948288 3.1000000000000004e-06 1.5500000000000002e-06
select max(Id) from TABLE_NAME_82 where GARION_WELLER_POSITION = "1"</s>
5.330432891845703
247 7144 0.017916494980454445 0.023382633924484253 3.2000000000000003e-06 1.6000000000000001e-06
select entrant from TABLE_NAME_68 where ENGINE = "COSWORTH DFV V8" and CHASSIS = "DN9"</s>
4.971756935119629
255 7144 0.02550511807203293 0.019358808174729347 3.3000000000000006e-06 1.6500000000000003e-06
select count(*) from artist_id group by name order by artist_id desc limit 1</s>
5.09409236907959
263 7144 0.03429676592350006 0.027026919648051262 3.4000000000000005e-06 1.7000000000000002e-06
select count(a) from TABLE_11452830_2 where KICKOFF_ = "SEPTEMBER 4, 1988" and DATE = "SEPTEMBER 4, 1988"</s>
5.575100421905518
271 7144 0.012491417117416859 0.0182326752692461 3.5e-06 1.75e-06
select COUNT(*) from PRODUCTS where PRODUCT_CODE = "t" and DESCRIPTION = "t"</s>
5.350679874420166
279 7144 -0.024982016533613205 0.018977386876940727 3.6000000000000003e-06 1.8000000000000001e-06
select DIFFICULTY from TABLE_24463470_1 where CONSTRUCTION_CIRCUIT = "AThens"</s>
5.973182678222656
287 7144 -0.03571067377924919 0.016895566135644913 3.7e-06 1.85e-06
select MIN(YEAR) from TABLE_NAME_75 where COUNTRY = "UNITED STATES" and ICONS = "TIGER WOODS"</s>
6.118460178375244
295 7144 -0.028237374499440193 0.01857234723865986 3.8000000000000005e-06 1.9000000000000002e-06
select COUNT(LEADER_AT_THE_SUMMIT) from TABLE_NAME_82 where YEAR = "1956" and FINISH = "Carcassonne"</s>
6.076149940490723
303 7144 -0.04463948309421539 0.018800051882863045 3.900000000000001e-06 1.9500000000000004e-06
select RECORD from TABLE_14863869_1 where DATE = "DECEMBER 2, 1984"</s>
5.858147144317627
311 7144 -0.00535298977047205 0.014125790446996689 4.000000000000001e-06 2.0000000000000003e-06
select nominated_work from TABLE_NAME_94 where award = "tony award" and year = "2009"</s>
4.813504695892334
319 7144 0.01201576553285122 0.01424696296453476 4.1e-06 2.05e-06
select H/A/N from TABLE_NAME_50 where DATE = "october 31"</s>
5.075416564941406
327 7144 0.03139110654592514 0.017132893204689026 4.2000000000000004e-06 2.1000000000000002e-06
select TOURNAMENT from TABLE_NAME_56 where OPEN_ID = "2010"</s>
5.7537102699279785

335 7144 0.021731732413172722 0.019196977838873863 4.3e-06 2.15e-06
select BIRTH_DATE from TABLE_NAME_3 where WEIGHT__KG_ = "100" and WORLD_RANK = "2"</s>
5.755478858947754
343 7144 0.010347575880587101 0.016551362350583076 4.4e-06 2.2e-06
select 2009 from TABLE_NAME_71 where 2011 = "SF"</s>
4.730398178100586
351 7144 -0.006458021234720945 0.006772099528461695 4.5e-06 2.25e-06
select DECILE from TABLE_NAME_99 where AUTHORITY = "STATE AUTHORITY" and ROLL = "120"</s>
5.752123832702637
359 7144 -0.018256478011608124 0.012758556753396988 4.600000000000001e-06 2.3000000000000004e-06
select DATE from TABLE_NAME_49 where GAME > 69 and OPPONENT = "ST. LOUIS BLUES"</s>
5.8697614669799805
367 7144 -0.0244454313069582 0.007603432983160019 4.7e-06 2.35e-06
select TEAM from TABLE_23285805_5 where DATE = "DECEMBER 19"</s>
4.554546356201172
375 7144 0.032890770584344864 0.028268737718462944 4.800000000000001e-06 2.4000000000000003e-06
select MIN(silver) from TABLE_NAME_68 where GOLD < 0</s>
5.411764144897461
383 7144 0.0065108779817819595 0.009223856031894684 4.9000000000000005e-06 2.4500000000000003e-06
select TYPE from SCHOOL_BUS where SCHOOL_ID = "1"</s>
5.606931686401367
391 7144 0.0005688492092303932 0.007761905901134014 5e-06 2.5e-06
select REACT from TABLE_NAME_53 where LANE > 5 and TIME < 20.05</s>
5.8783793449401855
399 7144 -0.007981151342391968 0.00969310849905014 5.1e-06 2.55e-06
select MIN(LOWEST_POINT) from TABLE_1416612_1 where HIGHEST_POINT = "mount greylock"</s>
3.777118682861328
407 7144 -0.02049568109214306 0.006928172428160906 5.2e-06 2.6e-06
select HOME_TEAM from TABLE_NAME_20 where AWAY_TEAM = "RICHMOND"</s>
5.424729824066162
415 7144 0.0010277876863256097 0.005149020813405514 5.300000000000001e-06 2.6500000000000005e-06
select RESULT from TABLE_NAME_84 where WEEK__NUMBER = "TOP 11"</s>
5.447086334228516
423 7144 0.002900225343182683 0.005808021407574415 5.400000000000001e-06 2.7000000000000004e-06
select where_built from TABLE_NAME_79 where YEAR_BUILED = "1858"</s>
5.286684989929199
431 7144 0.0056602368131279945 0.004740270785987377 5.500000000000001e-06 2.7500000000000004e-06
select MIN(POINTS__NON_PODIUM) from TABLE_2822193_1 where SERIES = "V8 SUPERCAR"</s>
6.0959625244140625
439 7144 0.009970337152481079 0.00584759283810854 5.600000000000001e-06 2.8000000000000003e-06
select MIN(bonus_points) from TABLE_NAME_47 where POINTS_AGAINST =448</s>
5.867838382720947
447 7144 -0.011238002218306065 0.010818610899150372 5.7e-06 2.85e-06
select MENS_DOUBLES from TABLE_15002265_1 where MENS_SINGLES = "jürgen koch"</s>
3.7094173431396484
455 7144 -0.03156742453575134 0.009099275805056095 5.8e-06 2.9e-06
select WEEK from TABLE_NAME_20 where DATE = "OCTOBER 21, 1974" and ATTENDANCE = "LESS THAN 50,623"</s>
5.901475429534912
463 7144 -0.018218830227851868 0.004264476243406534 5.9e-06 2.95e-06
select OPPONENTS from TABLE_NAME_80 where DATE = "NOVEMBER 25"</s>
5.621314525604248
471 7144 0.004775394685566425 0.004266096744686365 6e-06 3e-06
select COLLEGE_JUNIOR_CLUB_TEAM from TABLE_1965650_7 where NHL_TEAM = "BUFFALO SABRES"</s>
5.690877914428711
479 7144 0.008845270611345768 0.004344435874372721 6.1e-06 3.05e-06
select TITLE from TABLE_27397948_2 where NO_IN_SERIES = "57"</s>
5.660006046295166
487 7144 -0.01009136438369751 0.0066725690849125385 6.200000000000001e-06 3.1000000000000004e-06
select TRANSMITTER_LOCATION from TABLE_NAME_87 where STATION = "VOICE_OF_VIRTANAM"</s>
4.871917247772217
495 7144 0.008440857753157616 0.005403838586062193 6.300000000000001e-06 3.1500000000000003e-06
select SCORE_IN_THE_FINAL from TABLE_NAME_90 where PARTNER = "LINNIE LAWRENCE LAWRENCE"</s>
6.172532558441162
503 7144 -0.005126327276229858 0.003012068336829543 6.4000000000000006e-06 3.2000000000000003e-06
select LENGTH_FUEL from TABLE_NAME_22 where QUANTITY = 30</s>
5.445951461791992
511 7144 0.002220569644123316 0.003923568408936262 6.5000000000000004e-06 3.2500000000000002e-06
select AWARD from TABLE_NAME_85 where TITLE = "exorcist" and CYBER_CODE = "98" and CYBER_CODE_2 = "sounds"</s>
5.544036865234375
519 7144 0.0014248555526137352 0.0037991872522979975 6.600000000000001e-06 3.3000000000000006e-06
select tourism receipts 2003 from TABLE_18524_6 where COUNTRY = "COLOMBIA"</s>
4.535700798034668
527 7144 -0.004141851328313351 0.004762345924973488 6.700000000000001e-06 3.3500000000000005e-06
select MIN(pick__number) from TABLE_15353123_1 where POSITION = "defensive end"</s>
4.4780426025390625
535 7144 0.00838775560259819 0.004114083014428616 6.800000000000001e-06 3.4000000000000005e-06
select PARTY from TABLE_19753079_35 where DISTRICT = "new york 4"</s>
4.705925941467285
543 7144 -0.0006580307963304222 0.0019911157432943583 6.9e-06 3.45e-06
select GAME from TABLE_NAME_87 where LOCATION = "TOKYO" and POINTS = "31"</s>
6.268172264099121
551 7144 -0.001188851660117507 0.0034132408909499645 7e-06 3.5e-06
select WINS from TABLE_NAME_29 where RANK > 42 and COLLEGE > WASHINGTON_STATE_CITY_COUNTY_ and LOSSES > 980 and FIRST_SEASON > 1906</s>
5.828269004821777
559 7144 -0.006912268232554197 0.004142226185649633 7.100000000000001e-06 3.5500000000000003e-06
select CITY from TABLE_NAME_78 where RESULTS¹ = "0:0"</s>
4.260807514190674
567 7144 0.010292638093233109 0.00413592578843236 7.2000000000000005e-06 3.6000000000000003e-06
select CAPACITY_IN_PERSONS_HOUR from TABLE_17814458_1 where CONSTRUCTION_YEAR_S_ = " 1983"</s>
5.011470794677734
575 7144 0.0034137656912207603 0.001935747917741537 7.3e-06 3.65e-06
select DRAWS from TABLE_NAME_25 where PLAYED = 38</s>
5.949048042297363
583 7144 -0.01460003387182951 0.0028098071925342083 7.4e-06 3.7e-06
select DATE from TABLE_17355408_7 where HIGH_ASSISTS = "6"</s>
5.23064661026001
591 7144 -0.005173452664166689 0.002818835200741887 7.500000000000001e-06 3.7500000000000005e-06
select Jockey from TABLE_NAME_50 where Horse_NAME = "Hard Spun"</s>
4.829578399658203
599 7144 0.0075003947131335735 0.0022612405009567738 7.600000000000001e-06 3.8000000000000005e-06
select WRITTEN_BY from TABLE_15284274_1 where DIRECTED_BY = "WILL WARNING" and NO_IN_SEASON = "EPISODE 11"</s>
4.879549026489258
607 7144 0.015713956207036972 0.0034660452511161566 7.7e-06 3.85e-06
select COUNT( POLISH_CUP) from TABLE_NAME_34 where PLAYER = "MACIEJ IWAński" and EKSTRAKLAASA < 1</s>
5.323832988739014
615 7144 -0.004256528336554766 0.0023018307983875275 7.800000000000002e-06 3.900000000000001e-06
select POSITION from TABLE_NAME_10 where OVERALL = 106 and COLLEGE = "College of Virginia"</s>
5.354609966278076
623 7144 -0.010512792505323887 0.0035152544733136892 7.9e-06 3.95e-06
select SEASON from TABLE_2140071_7 where ORIGINAL_SEASON = "2012"</s>
5.241788864135742
631 7144 0.010744833387434483 0.0019611194729804993 8.000000000000001e-06 4.000000000000001e-06
select FINALS from TABLE_NAME_71 where PRELIM = "out of playoffs"</s>
4.6492156982421875
639 7144 0.01270052045583725 0.002797413384541869 8.1e-06 4.05e-06
select HOME_TEAM from TABLE_NAME_28 where AWAY_TEAM = "collingwood"</s>
5.487864971160889
647 7144 -0.014891624450683594 0.0027995165437459946 8.2e-06 4.1e-06
select 2007 FROM table_23619212_1 WHERE 2008 = "1.7%"</s>
5.00126838684082
655 7144 -0.01875333860516548 0.00307798245921731 8.3e-06 4.15e-06
select count(no) from TABLE_2866509_1 where US_VIEWERS__MILLIONS_ = "5.60"</s>
5.499658584594727
663 7144 -0.0007447642274200916 0.001479871105402708 8.400000000000001e-06 4.2000000000000004e-06
select ELECTION from TABLE_NAME_11 where ELECTION = "1885"</s>
5.280425548553467
671 7144 0.019417298957705498 0.003533429466187954 8.5e-06 4.25e-06
select TOPAR from TABLE_NAME_37 where TOTAL = 297 and FINISH = "1"</s>
5.212052345275879
679 7144 0.021829675883054733 0.0039006678853183985 8.6e-06 4.3e-06
select SERIE_A from TABLE_NAME_79 where COPPAPA_ITALIA = "5"</s>
6.014427185058594
687 7144 -0.007296100724488497 0.0012915239203721285 8.700000000000001e-06 4.350000000000001e-06
select GAME from TABLE_NAME_47 where TIME < 27,374 and ATTENDANCE < 27,374</s>
5.772522449493408
695 7144 -0.0004460676573216915 0.0017173175001516938 8.8e-06 4.4e-06
select TEAM from TABLE_NAME_83 where KIT_MARKET_UMBRO = "UNBRO" and CAPTAIN = "GARY MABBUT"</s>
5.586217403411865
703 7144 -0.0008659572922624648 0.0008995558600872755 8.900000000000001e-06 4.450000000000001e-06
select EPISODE from TABLE_NAME_62 where SHARE > 11.26 and WEEKLY_RANK > 8</s>
5.3747358322143555

711 7144 0.006517982110381126 0.0014100588159635663 9e-06 4.5e-06
select MIN(GUEST) from TABLE_25691838_12 where PRODUCTION_CODE = "6152"</s>
5.6593546867370605
719 7144 -0.008777322247624397 0.0019637083169072866 9.100000000000001e-06 4.5500000000000005e-06
select MUSIC from TABLE_NAME_60 where RECORD_LABEL = "MOTIVATE BOX" and RECORD_WAVES = "MOTIVATE RECORD"</s>
5.037847518920898
727 7144 -0.0027400683611631393 0.0008685711654834449 9.200000000000002e-06 4.600000000000001e-06
select DOWN__UP_TO_KBIT_S from TABLE_1773908_3 where PROVIDER = "DEUTSCHE TELEKOM AG"</s>
5.676542282104492
735 7144 0.015366323292255402 0.0020056741777807474 9.3e-06 4.65e-06
select AUTHOR from TABLE_NAME_16 where UNIT = "MALASUDA" and NAME = "VALENTINA"</s>
5.780348300933838
743 7144 0.004614296369254589 0.0006417194381356239 9.4e-06 4.7e-06
select METHOD from TABLE_NAME_19 where OPPONENT = "Thiago Alves"</s>
4.922232627868652
751 7144 -0.01691412553191185 0.002768877660855651 9.5e-06 4.75e-06
select SOCKET from TABLE_NAME_30 where FREQUENCY = "2200MHZ" and RELEASE_DATE = "june 4, 2008"</s>
5.385894775390625
759 7144 -0.012874254025518894 0.002233229111880064 9.600000000000001e-06 4.800000000000001e-06
select MENS_DOUBLES from TABLE_14903627_1 where WOMENS_DOUBLES = "PIRET HAMER HELEN REINO"</s>
4.786398410797119
767 7144 0.010203363373875618 0.001337365130893886 9.7e-06 4.85e-06
select avg(REGULATORY_CITATION) from TABLE_NAME_53 where AVERAGING_TIME = "40 cfr 50.4(b)"</s>
5.568762302398682
775 7144 0.007148880045861006 0.0014411440351977944 9.800000000000001e-06 4.9000000000000005e-06
select YEAR from TABLE_NAME_92 where FINISH = "19"</s>
5.361931800842285
783 7144 -0.02411278523504734 0.00408896803855896 9.9e-06 4.95e-06
select TIME from TABLE_NAME_83 where METHOD = "TKO"</s>
5.332720756530762
791 7144 -0.010287612676620483 0.0018185412045568228 1e-05 5e-06
select avg(CAPS) from TABLE_NAME_6 where SCOTLAND_CAREER = "1986–1998"</s>
5.30741548538208
799 7144 0.0073458049446344376 0.001082172035239637 9.999949644960027e-06 4.9999748224800135e-06
select WEEKS_ON_TOP from TABLE_NAME_94 where ISSUE_DATE_S_ = "20 NOVEMBER"</s>
5.3102850914001465
807 7144 0.008317342028021812 0.0011343149235472083 9.999798580854356e-06 4.999899290427178e-06
select YEAR from TABLE_NAME_65 where POINTS > 0</s>
5.706164360046387
815 7144 -0.015395025722682476 0.00198234710842371 9.999546810725726e-06 4.999773405362863e-06
select TOURNAMENT from TABLE_NAME_33 where OPEN = "1r"</s>
5.267430305480957
823 7144 -0.016464581713080406 0.003436700440943241 9.999194339645292e-06 4.999597169822646e-06
select T1.transaction_type_code from T1.transactions group by T1.transaction_type_description</s>
5.674699306488037
831 7144 0.014072327874600887 0.0016666438896209002 9.998741174712534e-06 4.999370587356267e-06
select WON from TABLE_2509505_1 where GOALS_FOR = "274"</s>
4.547619342803955
839 7144 0.00566536420956254 0.001390613615512848 9.998187325055107e-06 4.9990936625275535e-06
select KIND_OF_THE_SONG from TABLE_NAME_66 where SINGER = "MIRIAM YEUNG"</s>
5.132743835449219
847 7144 -0.015152224339544773 0.0016742913285270333 9.997532801828659e-06 4.998766400914329e-06
select HEAD_OF_HOUSEHOLDS from TABLE_NAME_39 where TASK_NO = "7"</s>
5.71763277053833
855 7144 -0.022289933636784554 0.002868392737582326 9.996777618216608e-06 4.998388809108304e-06
select RESULT from TABLE_NAME_34 where CITY = "MILWAUKEE"</s>
5.995124816894531
863 7144 0.015967989340424538 0.003355406690388918 9.995921789429875e-06 4.997960894714937e-06
select TEAM from TABLE_27902171_8 where RECORD = "36-29"</s>
4.766633033752441
871 7144 0.009847188368439674 0.0015686090337112546 9.994965332706574e-06 4.997482666353287e-06
select PLAYER from TABLE_NAME_27 where YEARS_AT_CLUB = "1943" and GOALS = "2" and DEBUT_YEAR = "1942"</s>
6.009763240814209
879 7144 -0.00918938871473074 0.0010553847532719374 9.993908267311677e-06 4.996954133655838e-06
select LAPS from TABLE_NAME_92 where MANUFACTURER = "suzuki" and TIME_RETIRED = "+1:02.804"</s>
5.332784652709961
887 7144 -0.0007300430443137884 0.0022202262189239264 9.992750614536606e-06 4.996375307268303e-06
select REPORT from TABLE_NAME_25 where CONSTRUCTION_CIRCUIT = "MODENA"</s>
4.222877502441406
895 7144 -0.008320845663547516 0.0010117695201188326 9.991492397698825e-06 4.995746198849413e-06
select YEAR from TABLE_NAME_87 where COUNT(FIREDAMP) > 11</s>
5.3542962074279785
903 7144 0.030831772834062576 0.007358897011727095 9.990133642141359e-06 4.9950668210706795e-06
select COUNT(district) from DISTRICT_CITY_APPEARANCE where CITY_APPEARANCE > "average city area"</s>
5.891624450683594
911 7144 0.014378669671714306 0.0020629139617085457 9.98867437523228e-06 4.99433718761614e-06
select POINTS from TABLE_NAME_32 where CHASSIS = "BRM p160e" and YEAR > 1974</s>
5.096571922302246
919 7144 -0.0026948435697704554 0.000974501483142376 9.987114626364172e-06 4.993557313182086e-06
select SCORE from TABLE_17311759_4 where TEAM = "Charlotte"</s>
5.314047813415527
927 7144 0.0007583866827189922 0.0009124202770181 9.985454426953513e-06 4.992727213476757e-06
select SURFACE from TABLE_16741821_8 where OPPONENT = "GEORGE KHRIKADZE"</s>
4.864712715148926
935 7144 -0.012916159816086292 0.001216038246639073 9.983693810440073e-06 4.991846905220037e-06
select RESULT from TABLE_NAME_17 where YEAR > 2007</s>
5.770564079284668
943 7144 -0.00573897548019886 0.000739460694603622 9.981832812286217e-06 4.990916406143108e-06
select ORIGINAL_AIR_DATE from TABLE_19266557_1 where NUMBER = "7"</s>
5.35303258895874
951 7144 0.022879112511873245 0.0033744981046766043 9.979871469976197e-06 4.989935734988098e-06
select OVERALL from TABLE_NAME_71 where PLYFF = "0-1" and AWAY = "1-1"</s>
5.634341239929199
959 7144 0.030846916139125824 0.005944300442934036 9.9778098230154e-06 4.9889049115077e-06
select REGION from TABLE_14532_1 where CAPITAL = "MILAN"</s>
5.452981472015381
967 7144 0.01623508334159851 0.0022991385776549578 9.975647912929558e-06 4.987823956464779e-06
select MINISTER from PARTY where LEFT_OFFICE = "LEEANOR"</s>
6.529881477355957
975 7144 -0.006287744268774986 0.0015471584629267454 9.973385783263893e-06 4.9866928916319465e-06
select STADIUM from TABLE_NAME_35 where FINAL_SCORE = "20-10"</s>
4.908454895019531
983 7144 -0.018680177628993988 0.0023032876197248697 9.971023479582258e-06 4.985511739791129e-06
select ORIGINAL_USA_AIR_DATE from TABLE_NAME_80 where ORIGINAL_CANADA_AIR_DATE = "DECEMBER 9, 2007"</s>
5.081233024597168
991 7144 -0.015239577740430832 0.0018523231847211719 9.968561049466214e-06 4.984280524733107e-06
select Format FROM table_name_81 WHERE Label = "alfa records Label" AND Catalog = "alca-9016"</s>
4.937170505523682
999 7144 0.018500836566090584 0.003326444188132882 9.965998542514066e-06 4.982999271257033e-06
select max(EARNING___) from TABLE_NAME_60 where PLAYER = "CURTIS SIMMONS"</s>
5.8982977867126465
1007 7144 0.020770274102687836 0.0025690263137221336 9.963336010339869e-06 4.981668005169934e-06
select COVERAGE from TABLE_2523809_1 where CALLSIGN = "KPNZ-TV"</s>
5.504032135009766
1015 7144 0.006965084001421928 0.0005517688114196062 9.960573506572391e-06 4.980286753286196e-06
select DATE from TABLE_NAME_75 where OPPONENT = "SEATTLE MARINERS"</s>
5.6882195472717285
1023 7144 -0.01786186173558235 0.0023885932750999928 9.957711086854025e-06 4.978855543427012e-06
select YEAR_NAMED from TABLE_16799784_4 where NAME = "OTAFUKUKU THOLI"</s>
5.508418560028076
1031 7144 -0.030710522085428238 0.004783193580806255 9.954748808839675e-06 4.977374404419838e-06
select HOME_TEAM from TABLE_NAME_78 where VENUE = "KARDINIA PARK"</s>
5.590004920959473
1039 7144 -0.020925305783748627 0.0023890978191047907 9.951686732195593e-06 4.9758433660977966e-06
select LOCATION_ATTENDANCE from TABLE_27902171_7 where HIGH_REBOUNDS = "10"</s>
5.983992576599121
1047 7144 0.013212288729846478 0.001413134508766234 9.948524918598175e-06 4.974262459299088e-06
select count(FIRST_ELECTED) from TABLE_1342233_32 where INCUMBENT = "sOL BLOOM"</s>
4.508626937866211
1055 7144 0.011841352097690105 0.0012937007704749703 9.945263431732722e-06 4.972631715866361e-06
select DISTRICT from TABLE_26131768_4 where RESIDENCE = "DUBLIN"</s>
5.148443222045898
1063 7144 -7.490919961128384e-05 0.001496685785241425 9.941902337292156e-06 4.970951168646078e-06
select MIN(main_industry) from company join main_industry_1 as main_industry_1 on MIN(main_industry_1) > MIN(main_industry_1)</s>
5.513563632965088

1071 7144 -0.011808217503130436 0.0010893353028222919 9.938441702975689e-06 4.9692208514878445e-06
select GOALS from TABLE_NAME_84 where ASSISTS = "33" and GAMES = "85"</s>
5.852644443511963
1079 7144 -0.005128490272909403 0.0010268338955938816 9.934881598487478e-06 4.967440799243739e-06
select HOME_GAMES from TABLE_28884858_1 where AVERAGE_ATTENDANCE = "79475"</s>
5.641493797302246
1087 7144 0.01987536996603012 0.0021973333787173033 9.931222095535204e-06 4.965611047767602e-06
select MIN(TOTAL) from TABLE_NAME_78 where NATION = "canada (can)" and BRONZE < 0</s>
6.014262676239014
1095 7144 0.01893678866326809 0.0025302923750132322 9.927463267828635e-06 4.963731633914317e-06
select ENGLISH from TABLE_26614365_1 where EAST as "light"</s>
5.618564605712891
1103 7144 0.009567228145897388 0.0009888582862913609 9.923605191078134e-06 4.961802595539067e-06
select CITY from TABLE_NAME_41 where ERP__ANALOG_DIGITAL = "600kw 500kw"</s>
5.127023696899414
1111 7144 -0.020534832030534744 0.0022058403119444847 9.91964794299315e-06 4.959823971496575e-06
select VISITOR from TABLE_NAME_77 where DATE = "12 MARCH 2008"</s>
5.595868110656738
1119 7144 -0.03638080880045891 0.006210785824805498 9.915591603280632e-06 4.957795801640316e-06
select ROLE_CODE from EMPLOYEES where largest_number_of_employments > 1</s>
6.320826053619385
1127 7144 -0.019986333325505257 0.0025615408085286617 9.911436253643445e-06 4.9557181268217225e-06
select TEAM from TABLE_NAME_54 where INN = "9th"</s>
5.248062610626221
1135 7144 -0.001849850290454924 0.0005164009635336697 9.907181977778702e-06 4.953590988889351e-06
select avg(TOTAL) from TABLE_NAME_38 where RANK_BY_AVERAGE < 12 and NUMBER_OF_DANCES < 3</s>
5.750154495239258
1143 7144 0.024503305554389954 0.0034015418495982885 9.902828861376101e-06 4.9514144306880506e-06
select min(fa_cup_apps) from TABLE_27086613_5 where fa_cup_apps = "2" and position = "2"</s>
4.719058990478516
1151 7144 0.03088901937007904 0.006359890103340149 9.898376992116179e-06 4.949188496058089e-06
select WOMENS_SINGLES from TABLE_12027364_1 where MENS_SINGLES = "PETER rasmussen"</s>
5.24525260925293
1159 7144 0.018935421481728554 0.0020033298060297966 9.89382645966856e-06 4.94691322983428e-06
select OVERALL from TABLE_NAME_30 where NAME = "BOB ANDERSON"</s>
5.758285999298096
1167 7144 -0.005795566365122795 0.0007392637780867517 9.889177355690136e-06 4.944588677845068e-06
select CANDIDATES from TABLE_1341973_3 where DISTRICT = "ALA 6"</s>
5.847850322723389
1175 7144 -0.004303136374801397 0.0007679451955482364 9.884429773823238e-06 4.942214886911619e-06
select CLUBS_INTRODUCED from TABLE_NAME_59 where CLUBS_REMAINING > 4 and WINNERS_FROM_PREVIOUS_ROUND > 4</s>
6.567437648773193
1183 7144 -0.00964665412902832 0.0013622369151562452 9.879583809693737e-06 4.939791904846869e-06
select TO_PAR from TABLE_NAME_42 where SCORE > 68</s>
5.5022993087768555
1191 7144 0.022839585319161415 0.004131836351007223 9.874639560909118e-06 4.937319780454559e-06
select 2011 from TABLE_NAME_62 where 2008 = "2r" and 2012 = "4r"</s>
5.29593563079834
1199 7144 0.01750926673412323 0.0023769629187881947 9.86959712705652e-06 4.93479856352826e-06
select count(RANK) from TABLE_NAME_39 where RANK = "8"</s>
5.224110126495361
1207 7144 -0.009705844335258007 0.0008603553869761527 9.864456609700726e-06 4.932228304850363e-06
select TITLE from TABLE_29102100_1 where DIRECTED_BY = "rich crell" and WRITTEN_BY = "dennis rinsler"</s>
5.3922038078308105
1215 7144 0.0011636735871434212 0.0006731412722729146 9.859218112382117e-06 4.9296090561910585e-06
select % similarity_to_c7orf38 from TABLE_26957063_3 where _percentage_identity_to_c7orf38 = "81"</s>
4.856788635253906
1223 7144 0.015565412119030952 0.004834500607103109 9.853881740614591e-06 4.9269408703072955e-06
select OPPONENT from TABLE_NAME_6 where WEEK = "2"</s>
5.074861526489258
1231 7144 -0.026003720238804817 0.0032801292836666107 9.848447601883436e-06 4.924223800941718e-06
select SCHOOL_CLUB_TEAM from TABLE_NAME_66 where PLAYER = "SHAWN RESPRET"</s>
5.3126749992370605
1239 7144 -0.021002117544412613 0.002481186995282769 9.842915805643156e-06 4.921457902821578e-06
select PICK from TABLE_NAME_96 where ROUND > 2 and POSITION > OGRACIAL GROUND and PLAYER = REGGIE MACKENZIE</s>
5.703678131103516
1247 7144 0.0010206332663074136 0.0007935995818115771 9.837286463315284e-06 4.918643231657642e-06
select QUAL_1 from TABLE_NAME_93 where NAME = "alex tagliani"</s>
5.539216995239258
1255 7144 0.011839032173156738 0.0011131191859021783 9.83155968828612e-06 4.91577984414306e-06
select h_a_n from TABLE_NAME_64 where RECORD = "20-48"</s>
5.041611194610596
1263 7144 0.015084419399499893 0.0021588089875876904 9.825735595904462e-06 4.912867797952231e-06
select DISTANCE from TABLE_NAME_73 where TIME = "2:20.00"</s>
5.889540195465088
1271 7144 -0.013528943061828613 0.001402081805281341 9.819814303479268e-06 4.909907151739634e-06
select LONG from TABLE_NAME_28 where GAIN < 0</s>
5.248817443847656
1279 7144 -0.016958491876721382 0.0017730213003233075 9.813795930277306e-06 4.906897965138653e-06
select COUNTRY from TABLE_2351952_1 where NAMES = "801-812"</s>
5.746347904205322
1287 7144 0.0062704249285161495 0.0015260902000591159 9.807680597520746e-06 4.903840298760373e-06
select SCHOOL_CLUB_TEAM from TABLE_NAME_31 where PICK = "33"</s>
5.081367492675781
1295 7144 0.004802069626748562 0.0007537647034041584 9.801468428384716e-06 4.900734214192358e-06
select AWAY_TEAM from TABLE_29728592_2 where COMPETITION = "republic of srpska football day" and HOME_TEAM = "u 14 republic of srpska"</s>
4.847465991973877
1303 7144 -0.014691594988107681 0.0013455607695505023 9.79515954799483e-06 4.897579773997415e-06
select VISITOR from TABLE_NAME_63 where HOME = "toronto maple leafs" and SCORE = "4–1"</s>
5.564592361450195
1311 7144 -0.01044213306158781 0.0011323589133098722 9.788754083424654e-06 4.894377041712327e-06
select REGULAR SEASON WINNER from TABLE_21091982_3 where CONFERENCE = "Ivy League"</s>
6.22038459777832
1319 7144 0.00868916418403387 0.0007460540509782732 9.782252163693159e-06 4.8911260818465795e-06
select RESULT from TABLE_NAME_46 where NOMINEE = "BRENT SPINNER"</s>
5.471485614776611
1327 7144 0.00709870271384716 0.0009368231403641403 9.775653919762117e-06 4.887826959881058e-06
select AWAY_TEAM from TABLE_NAME_91 where DATE = "10 FEBRUARY 1951" and HOME_TEAM = "MANCHESTER UNITED"</s>
5.8112921714782715
1335 7144 -0.002556699560955167 0.00026515801437199116 9.768959484533461e-06 4.884479742266731e-06
select MAX(POINTS) from TABLE_NAME_93 where YEAR = 1983</s>
5.92972469329834
1343 7144 -0.007236538454890251 0.00044035419705323875 9.762168992846615e-06 4.8810844964233075e-06
select DRAWS from TABLE_NAME_74 where ARTIST = "Maggie Toal"</s>
5.578978538513184
1351 7144 -0.010467326268553734 0.0019613674376159906 9.755282581475769e-06 4.8776412907378845e-06
select COUNT(crowd) from TABLE_NAME_42 where HOME_TEAM = "ESSENDON"</s>
5.651727676391602
1359 7144 0.022102298215031624 0.0025687238667160273 9.748300389127132e-06 4.874150194563566e-06
select AWAY from TABLE_NAME_71 where HOME = "toronto downtown dingos"</s>
5.489588260650635
1367 7144 0.0269163828343153 0.0042020464316010475 9.741222556436132e-06 4.870611278218066e-06
select D_50 from TABLE_NAME_84 where D_41 = "D 50"</s>
4.961786270141602
1375 7144 0.008952613919973373 0.0012617635075002909 9.734049225964591e-06 4.867024612982296e-06
select LOSER from TABLE_NAME_89 where DATE = "october 18" and LOCATION = "schaefer stadium"</s>
5.588557720184326
1383 7144 -0.010734844021499157 0.0016048959223553538 9.726780542197845e-06 4.863390271098922e-06
select GOALS_FOR from TABLE_NAME_26 where LOST = "25"</s>
6.146129131317139
1391 7144 -0.013334816321730614 0.0012540273601189256 9.719416651541839e-06 4.859708325770919e-06
select NAME from TABLE_NAME_32 where CAPS > 17 and RANK > 17</s>
5.87609338760376
1399 7144 -0.008912649936974049 0.0013063709484413266 9.711957702320176e-06 4.855978851160088e-06
select DUST_OR_DEBRIS_LOCATION_AUK from TABLE_2296507_1 where STAR = "HD 69830"</s>
4.831767559051514
1407 7144 0.01177691575139761 0.0009837276302278042 9.704403844771128e-06 4.852201922385564e-06
select RANK from TABLE_NAME_82 where U_17_GOALS = "7" and PLAYER = "Cesc Fàbregas"</s>
5.369369029998779

1415 7144 0.022002296522259712 0.0027758278883993626 9.696755231044618e-06 4.848377615522309e-06
select DATE from TABLE_NAME_69 where TOURNAMENT = "MILAN, itALY"</s>
5.360114097595215
1423 7144 0.010338093154132366 0.0009449781500734389 9.689012015199147e-06 4.844506007599573e-06
select MALE_LIFE_EXPERIENCE from TABLE_2701625_1 where COUNTRY = "pakistan"</s>
4.851866245269775
1431 7144 0.009558621793985367 0.005244977306574583 9.681174353198687e-06 4.8405871765993435e-06
select COMPOSER_S from TABLE_NAME_85 where LENGTH = "6:24"</s>
5.882352828979492
1439 7144 -0.04882045462727547 0.010995034128427505 9.673242402909555e-06 4.836621201454778e-06
select INSTITUTION from TABLE_NAME_78 where LOCATION = "AKRON"</s>
5.936544895172119
1447 7144 -0.06635109335184097 0.020015275105834007 9.665216324097222e-06 4.832608162048611e-06
select PLACE from TABLE_NAME_6 where MONEY___$__ = "73" and PLAYER = "ARCHARIC COMPSTON"</s>
5.788747310638428
1455 7144 -0.06763730198144913 0.02119455300271511 9.657096278423093e-06 4.828548139211546e-06
select max(phone_number) from employees where salary > 12000</s>
5.270446300506592
1463 7144 -0.03131752088665962 0.006323354784399271 9.648882429441258e-06 4.824441214720629e-06
select FOUNDED from TABLE_2589963_1 where GREEN_AND_WALKING_COUNTRIES = "GOLDEN_STATE_STATE_WALKING_COUNTRIES"</s>
5.685723304748535
1471 7144 -0.015214730985462666 0.0017394238384440541 9.640574942595195e-06 4.820287471297598e-06
select GROUND from TABLE_NAME_59 where AWAY_TEAM = "Sydney"</s>
5.933882713317871
1479 7144 0.016769297420978546 0.0014481850666925311 9.632173985214438e-06 4.816086992607219e-06
select ENGINE from TABLE_NAME_24 where CHASSIS = "LOTUS 44 F2"</s>
5.610810279846191
1487 7144 0.02570510283112526 0.003425896866247058 9.623679726511204e-06 4.811839863255602e-06
select LEAGUE_FROM from TABLE_NAME_69 where NHL_TEAM = "ATLANTA THRAHERS"</s>
5.596269130706787
1495 7144 0.03993202745914459 0.007116200868040323 9.615092337576987e-06 4.8075461687884935e-06
select RACES from TABLE_NAME_15 where WINS > 8</s>
5.928467750549316
1503 7144 0.04490847513079643 0.010119069367647171 9.606411991379113e-06 4.803205995689557e-06
select sprint_classification FROM table_23944514_15 WHERE aggressive_rider = "michael barry"</s>
4.232079982757568
1511 7144 0.01490038726478815 0.0013756321277469397 9.597638862757255e-06 4.7988194313786275e-06
select YEAR from TABLE_NAME_25 where RESULT = "3" and VENUE = "JARAMA"</s>
5.611158847808838
1519 7144 -0.023641075938940048 0.0030263594817370176 9.588773128419907e-06 4.794386564209953e-06
select F/Laps from TABLE_NAME_77 where POINTS = "27"</s>
5.161473274230957
1527 7144 -0.04130471870303154 0.009189932607114315 9.579814966940833e-06 4.7899074834704165e-06
select PART_NUMBER_S from TABLE_NAME_52 where turbo = "9/11" and frequency = "1.5 ghz"</s>
5.454751968383789
1535 7144 -0.04644777625799179 0.009662670083343983 9.570764558755466e-06 4.785382279377733e-06
select DATE from TABLE_NAME_37 where AGAINST < 21 and STATUS = "SECOND TEST"</s>
5.539583206176758
1543 7144 -0.023476071655750275 0.004121775738894939 9.561622086157273e-06 4.780811043078636e-06
select max(episode__number) from TABLE_2501754_4 where EPISODE__NUMBER = "LEAST"</s>
4.886366844177246
1551 7144 -0.0037742380518466234 0.0011016621720045805 9.552387733294081e-06 4.7761938666470405e-06
select UNIVERSITY from TABLE_29538735_1 where _PERCENTAGE_ELECTRICITY_REDUCTION = "10%"</s>
5.446641445159912
1559 7144 0.019289080053567886 0.0024196046870201826 9.543061686164374e-06 4.771530843082187e-06
select TRIES_AGAINST from TABLE_NAME_9 where POINTS_AGAINST > 109</s>
5.3446245193481445
1567 7144 0.030642345547676086 0.004715208895504475 9.533644132613542e-06 4.766822066306771e-06
select avg(pick) from TABLE_NAME_29 where ROUND = "3" and COLLEGE = "PRINCE"</s>
5.4364914894104
1575 7144 0.029261432588100433 0.004630088806152344 9.524135262330098e-06 4.762067631165049e-06
select METHOD from TABLE_NAME_63 where TIME = "1:46"</s>
5.005608558654785
1583 7144 0.018063785508275032 0.0020777476020157337 9.514535266841863e-06 4.757267633420931e-06
select APRIL from TABLE_NAME_50 where GAME = "APRIL" and POINTS = "95" and RECORD = "41–25–10–3"</s>
5.631292343139648
1591 7144 -0.013556151650846004 0.0018835236551240087 9.504844339512096e-06 4.752422169756048e-06
select ATTENDANCE from TABLE_NAME_95 where OPPONENTS = "HEARTS"</s>
5.924719333648682
1599 7144 -0.02049446664750576 0.002272272016853094 9.495062675535614e-06 4.747531337767807e-06
select RECORD from TABLE_NAME_8 where SCORE = "7 - 2"</s>
5.740438461303711
1607 7144 -0.0027515259571373463 0.0016614357009530067 9.485190471934845e-06 4.7425952359674225e-06
select COLLEGE from TABLE_NAME_42 where PICK__NUMBER = "145"</s>
5.475483417510986
1615 7144 -0.011398633942008018 0.0009435734828002751 9.475227927555873e-06 4.737613963777936e-06
select PLACE_OF_BIRTH from TABLE_NAME_62 where ACQUIRED = "2008"</s>
5.694368839263916
1623 7144 0.010398007929325104 0.001114993472583592 9.465175243064428e-06 4.732587621532214e-06
select PLACE from TABLE_NAME_72 where SCORE = "67-67=134"</s>
5.849596977233887
1631 7144 0.01570005528628826 0.0012054438702762127 9.45503262094184e-06 4.72751631047092e-06
select COUNT(crowd) from TABLE_NAME_59 where AWAY_TEAM = "OFFICE"</s>
6.032407283782959
1639 7144 0.0006248209392651916 0.00032627020846121013 9.444800265480968e-06 4.722400132740484e-06
select SECOND_MEMBER from TABLE_NAME_3 where FIRST_MEMBER = "sir rowland hill" and SECOND_PARTY = "conservative"</s>
5.730431079864502
1647 7144 -0.009726496413350105 0.0009419050184078515 9.434478382782075e-06 4.717239191391038e-06
select GAME_SITE from TABLE_NAME_85 where WEEK < 11 and DATE < october 21, 1973</s>
5.47959041595459
1655 7144 -0.005702798720449209 0.0004524125251919031 9.424067180748692e-06 4.712033590374346e-06
select SCORE from TABLE_NAME_17 where RECORD = "73-83"</s>
5.085846424102783
1663 7144 0.01662474311888218 0.0014805844984948635 9.413566869083417e-06 4.706783434541708e-06
select CName from tryout where pos = "mid"</s>
5.226778507232666
1671 7144 0.02460620366036892 0.0033696999307721853 9.40297765928369e-06 4.701488829641845e-06
select STATE_TERRITORY from TABLE_NAME_58 where HEIGHT = "121 m"</s>
5.343153476715088
1679 7144 0.010398461483418941 0.0007628804305568337 9.39229976463755e-06 4.696149882318775e-06
select NUMBER_OF_CONTESTANTS from TABLE_NAME_81 where CYCLE = "4"</s>
5.416485786437988
1687 7144 -0.024639995768666267 0.0031555388122797012 9.381533400219319e-06 4.690766700109659e-06
select MIN(pick__number) from TABLE_20649850_1 where COLLEGE = "new mexico"</s>
4.7157464027404785
1695 7144 -0.03320614621043205 0.005292722024023533 9.37067878288528e-06 4.68533939144264e-06
select DATE from TABLE_NAME_44 where LOSS = "ruffin (3-5)"</s>
5.303475856781006
1703 7144 -0.024874715134501457 0.003286038525402546 9.359736131269312e-06 4.679868065634656e-06
select BRONZE from TABLE_NAME_59 where PLACE = "MELBOURNE"</s>
6.330538272857666
1711 7144 -0.013079543597996235 0.0015647773398086429 9.348705665778479e-06 4.674352832889239e-06
select STREAK from TABLE_NAME_1 where LOCATION_ATTENDANCE = "staples center" and SCORE = "67–89"</s>
6.204545974731445
1719 7144 0.029191292822360992 0.004772023297846317 9.337587608588588e-06 4.668793804294294e-06
select count(no) from TABLE_1569625_1 where RUNNER_S__UP = "HOWARD CLARK"</s>
4.40100622177124
1727 7144 0.033467113971710205 0.00567823089659214 9.326382183639731e-06 4.663191091819866e-06
select SCHOOL from TABLE_1984697_85 where CITY___town = "NORTH MANCHESTER"</s>
5.990864276885986
1735 7144 0.02165791764855385 0.002787158824503422 9.315089616631752e-06 4.657544808315876e-06
select CIRCUIT from TABLE_25459168_2 where DATE = "AUGUST 21"</s>
5.4555463790893555
1743 7144 0.026533884927630424 0.005266379099339247 9.30371013501972e-06 4.65185506750986e-06
select ELECTION_DATE from TABLE_1193568_1 where ELECTORATE = "christchurch country"</s>
3.777634620666504
1751 7144 -0.005830586422234774 0.0004707986081484705 9.292243968009332e-06 4.646121984004666e-06
select DATE from TABLE_NAME_20 where COMPETITION = "2002 AFRICAN CUP OF NATIONS"</s>
5.817237854003906
1759 7144 -0.017928162589669228 0.0018408575560897589 9.280691346552308e-06 4.640345673276154e-06
select EVENING_GOWN from TABLE_NAME_60 where AVERAGE > 8.984 and PRELIMINARY > 8.597</s>
6.245542049407959

1767 7144 -0.015607263892889023 0.0016024785581976175 9.269052503341737e-06 4.634526251670869e-06
select COUNT(mountain_id) from mountains where camera_lens_id = "ETHIOPIA"</s>
5.312885284423828
1775 7144 -0.004942224361002445 0.0003870948567055166 9.257327672807383e-06 4.628663836403692e-06
select BILLS_POINTS from TABLE_NAME_54 where DATE = "NOVEMBER 11"</s>
6.130627632141113
1783 7144 0.01442668680101633 0.001323877600952983 9.24551709111097e-06 4.622758545555485e-06
select DATE from TABLE_NAME_66 where RESULT = "W20-0"</s>
5.443122386932373
1791 7144 0.028410406783223152 0.003852252848446369 9.233620996141421e-06 4.6168104980707105e-06
select CLASS from TABLE_NAME_6 where QUANTITY = "1"</s>
5.628842830657959
1799 7144 0.012749232351779938 0.0008872277685441077 9.221639627510076e-06 4.610819813755038e-06
select HOME from TABLE_NAME_31 where RECORD = "3-2"</s>
5.485411643981934
1807 7144 -0.0044966209679841995 0.000602404703386128 9.209573226545852e-06 4.604786613272926e-06
select count(no_in_series) from TABLE_2226817_8 where NO_IN_SEASON = "12"</s>
5.157860279083252
1815 7144 -0.012080016545951366 0.0008683371124789119 9.197422036290386e-06 4.598711018145193e-06
select Police_force FROM county_public_safety WHERE LOCATION = "EAST SIDE"</s>
5.7677717208862305
1823 7144 -0.01456679031252861 0.0012312913313508034 9.185186301493153e-06 4.592593150746576e-06
select NUMBER_ from TABLE_NAME_72 where DESCRIPTION = "pECKETT 0-4-0ST"</s>
5.5379252433776855
1831 7144 0.005917781498283148 0.00041385003714822233 9.172866268606514e-06 4.586433134303257e-06
select RANK from TABLE_NAME_91 where GOLD < 0</s>
5.731602668762207
1839 7144 0.008388033136725426 0.0007726745679974556 9.16046218578077e-06 4.580231092890385e-06
select LOCATION_ATTENDANCE from TABLE_11960944_11 where HIGH_ASSISTS = "BILLPUPS, STUCKEY (4)"</s>
5.9647088050842285
1847 7144 0.004133991897106171 0.00026152958162128925 9.147974302859158e-06 4.573987151429579e-06
select OVERALL from TABLE_NAME_64 where NATIONALITY = "FINLAND"</s>
5.535691261291504
1855 7144 -0.007731993682682514 0.0006397558026947081 9.13540287137281e-06 4.567701435686405e-06
select SEASON_IN_Sanskrit from TABLE_NAME_34 where SEASON_IN_EAST_1 = "MAY"</s>
5.167282581329346
1863 7144 -0.009135334752500057 0.0005695658619515598 9.122748144535704e-06 4.561374072267852e-06
select POSITION from TABLE_NAME_62 where LOST > 9 and DRAWN > 9</s>
5.496738910675049
1871 7144 -0.0012167564127594233 0.00017975791706703603 9.110010377239552e-06 4.555005188619776e-06
select avg(AGE) from singer where COUNTRY = "FRANCE"</s>
5.646761894226074
1879 7144 0.007233606185764074 0.0006143823848105967 9.09718982604866e-06 4.54859491302433e-06
select WEEKLY_RANK from TABLE_11178271_1 where AIR_DATE = "NOVEMBER 12, 2007"</s>
5.515735626220703
1887 7144 0.010310495272278786 0.0006156102754175663 9.084286749194783e-06 4.542143374597391e-06
select DATE from TABLE_NAME_96 where AWAY_TEAM = "GEELONG"</s>
5.666132926940918
1895 7144 -0.0006233854219317436 0.0001578197261551395 9.071301406571893e-06 4.5356507032859465e-06
select TITLE from TABLE_15431251_1 where NO_IN_SEASON = "7"</s>
5.472372531890869
1903 7144 -0.002377918688580394 0.0347367525100708 9.058234059730977e-06 4.529117029865488e-06
select GAME from TABLE_NAME_89 where OPPONENT = "WASHINGTON"</s>
6.475903034210205
1911 7144 -0.015841156244277954 0.0014220403973013163 9.045084971874738e-06 4.522542485937369e-06
select SCHOOL from TABLE_NAME_17 where EVENT = "100 BACKstroke"</s>
5.118247985839844
1919 7144 -0.006903607398271561 0.0006405598833225667 9.031854407852317e-06 4.5159272039261585e-06
select count(france) from TABLE_NAME_37 where _PERCENTAGE_PEOPLE_UNDER_18__2005_ = "SUB-SAHARAN AFRICA"</s>
5.094365119934082
1927 7144 0.009000105783343315 0.0007752878591418266 9.018542634153944e-06 4.509271317076972e-06
select RESULT from TABLE_NAME_58 where DATE = "OCTOBER 8, 1985"</s>
5.5500359535217285
1935 7144 0.016974976286292076 0.0017276644939556718 9.00514991890558e-06 4.50257495945279e-06
select RECORD from TABLE_NAME_25 where OPPONENT = "LA Rams"</s>
6.020169258117676
1943 7144 0.003019894938915968 0.00028772378573194146 8.991676531863507e-06 4.495838265931754e-06
select MAX(NO_IN_SEASON) from TABLE_28014096_1 where PRODUCTION_CODE = "2t6206"</s>
5.272573947906494
1951 7144 -0.003432764206081629 0.00036164134507998824 8.978122744408905e-06 4.4890613722044526e-06
select AWAY_TEAM from TABLE_NAME_3 where VENUE = "PRINCE PRINCE PARK"</s>
5.967184066772461
1959 7144 -0.010017980821430683 0.0009845735039561987 8.964488829542377e-06 4.482244414771188e-06
select HEADQUARTERS from TABLE_1682026_7 where COMPANY = "HSBC"</s>
5.922702312469482
1967 7144 0.0026707311626523733 0.00044626451563090086 8.950775061878453e-06 4.475387530939226e-06
select TEAM from TABLE_NAME_5 where RANK < 377, COUNTRY < GERMANY and COUNTRY = "GERMANY"</s>
5.583419322967529
1975 7144 -0.000997471739538014 0.0004786945937667042 8.936981717640061e-06 4.4684908588200305e-06
select LOCATION from TABLE_NAME_1 where YEAR = 1994 and COUNTRY = YEMEN</s>
6.168649673461914
1983 7144 0.005955602508038282 0.0004967580316588283 8.92310907465296e-06 4.46155453732648e-06
select COMP from TABLE_NAME_84 where DATE = "2004-10-17"</s>
5.309462547302246
1991 7144 0.006443389691412449 0.0018016870599240065 8.90915741234015e-06 4.454578706170075e-06
select Format FROM table_name_22 WHERE open_standard = "no" AND interactivity_support = "no" AND image_support = "yes" AND word_wrap_support = "yes"</s>
4.28523588180542
1999 7144 -0.021604476496577263 0.002574642188847065 8.895127011716234e-06 4.447563505858117e-06
select SEASON_NO from TABLE_21781578_2 where DIRECTED_BY = "JOHN DAVID COLES"</s>
5.325157165527344
2007 7144 -0.020869916304945946 0.002452130662277341 8.881018155381766e-06 4.440509077690883e-06
select fastest_laps FROM table_name_65 WHERE season = 2009 AND poles < 0</s>
5.140619277954102
2015 7144 -0.0003380880516488105 0.0031305821612477303 8.866831127517557e-06 4.4334155637587785e-06
select 2011 FROM table_24027047_1 WHERE population_density___km²_2011 = "684.37"</s>
5.022191047668457
2023 7144 -0.0043328022584319115 0.00025868741795420647 8.852566213878947e-06 4.426283106939474e-06
select DIES from TABLE_2930244_4 where NUMBER_OF_HURANTS = "6"</s>
5.575573444366455
2031 7144 0.016998572275042534 0.001601842581294477 8.838223701790057e-06 4.4191118508950286e-06
select DISTRICT_ID from STORE_DISTRUCTURE where DISTRICT_NAME = "Khanewal"</s>
5.993173122406006
2039 7144 0.024178070947527885 0.0034301630221307278 8.823803880137993e-06 4.411901940068997e-06
select SURFACE from TABLE_NAME_31 where OPPONENT = "Jiří vaněk"</s>
4.961005210876465
2047 7144 0.008342324756085873 0.0007518018828704953 8.809307039367035e-06 4.4046535196835175e-06
select FIRST_APPEARANCE from TABLE_NAME_26 where portrayed_BY = "CHAD WILLIAMS"</s>
5.847836971282959
2055 7144 -0.007731928955763578 0.0011371421860530972 8.794733471472778e-06 4.397366735736389e-06
select TITLE from TABLE_2182654_3 where DIRECTED_BY = "MIGUEL ARTETA"</s>
5.6510114669799805
2063 7144 0.0014541416894644499 0.0025994309689849615 8.780083469996264e-06 4.390041734998132e-06
select ENDS from TABLE_25107064_2 where Blank_ends = "0"</s>
4.614048957824707
2071 7144 -0.03157013654708862 0.005767236463725567 8.765357330018056e-06 4.382678665009028e-06
select RATING from TABLE_25391981_20 where EPISODE = "PART 1"</s>
5.720459461212158
2079 7144 -0.026398196816444397 0.003725628135725856 8.750555348152299e-06 4.3752776740761495e-06
select OTHERS from TABLE_NAME_33 where MARTIN = "9%" and Source = "OMG/NEWS"</s>
4.957484245300293
2087 7144 -0.00834000576287508 0.0010391660034656525 8.73567782254075e-06 4.367838911270375e-06
select COUNT(*) from customers where id = "TOTAL"</s>
5.153680801391602
2095 7144 0.014038017950952053 0.001548781874589622 8.720725052846766e-06 4.360362526423383e-06
select RESULT from TABLE_14966537_1 where OPPONENT = "CHICAGO BAREAS"</s>
5.889638423919678
2103 7144 0.022600889205932617 0.002539826789870858 8.705697340249275e-06 4.352848670124637e-06
select COUNTRY from TABLE_NAME_74 where PLAYER = "nick faldo"</s>
5.368343830108643
2111 7144 0.03008289635181427 0.004210391081869602 8.690594987436705e-06 4.345297493718352e-06
select SURFACE from TABLE_NAME_15 where DATE = "JULY 15, 1984"</s>
5.448113441467285

2119 7144 0.010231131687760353 0.000676245370414108 8.675418298600884e-06 4.337709149300442e-06
select OBAMA_NUMBER from TABLE_20799905_1 where COUNTY = "LAKE COUNTY"</s>
5.362421035766602
2127 7144 -0.008723954670131207 0.0007445139926858246 8.660167579430926e-06 4.330083789715463e-06
select RACE from TABLE_NAME_3 where DATE = "10/10/2008"</s>
5.42064905166626
2135 7144 -0.016770772635936737 0.0015445343451574445 8.644843137107058e-06 4.322421568553529e-06
select AWAY_TEAM from TABLE_NAME_21 where CROWD > 6,000</s>
6.053621292114258
2143 7144 -0.015165111981332302 0.0013569002039730549 8.629445280294445e-06 4.314722640147222e-06
select DEPARTURE from TABLE_NAME_66 where STATION_NAME = "Rajendranagar Terminal"</s>
5.984164714813232
2151 7144 -0.011036969721317291 0.0012958166189491749 8.613974319136959e-06 4.3069871595684795e-06
select MANNER_OF_DEPARTURE from TABLE_27495117_3 where DATE_OF_APPOINTMENT = "21 september 2010"</s>
5.1301774978637695
2159 7144 0.014538797549903393 0.0014261899050325155 8.598430565250953e-06 4.299215282625477e-06
select Apartments from Apartments whereapt_type_code = "apt_type_code" and room_count = "3"</s>
5.17596435546875
2167 7144 0.024310994893312454 0.0030539161525666714 8.582814331718961e-06 4.291407165859481e-06
select DIVISION from TABLE_1046170_5 where USOPEN_CUP = "2003"</s>
5.361998081207275
2175 7144 0.02458026073873043 0.0034455626737326384 8.567125933083415e-06 4.283562966541708e-06
select MIN(margin_of_victory) from TABLE_NAME_34 where DATE = "15 JUL 2007"</s>
5.807149887084961
2183 7144 0.018382450565695763 0.004197393544018269 8.551365685340285e-06 4.275682842670143e-06
select drawn FROM table_name_81 WHERE drawn < 0</s>
3.9187769889831543
2191 7144 -0.009626831859350204 0.0008516961825080216 8.535533905932739e-06 4.267766952966369e-06
select FREQUENCY from TABLE_NAME_5 where CALLSIGN = "2CFM"</s>
5.900415420532227
2199 7144 -0.018183313310146332 0.001839827629737556 8.519630913744726e-06 4.259815456872363e-06
select YEAR from TABLE_NAME_82 where MATCH = "63"</s>
5.298587799072266
2207 7144 -0.017963523045182228 0.0016096209874376655 8.503657029094569e-06 4.2518285145472845e-06
select FIN_POS from TABLE_17244483_1 where DRIVER = "Darren Manning"</s>
5.386806011199951
2215 7144 -0.0013794563710689545 0.0006101173930801451 8.487612573728513e-06 4.243806286864257e-06
select DATE from TABLE_11960407_5 where GAME = "GAME 50"</s>
5.432788848876953
2223 7144 0.004684881307184696 0.00027932776720263064 8.47149787081423e-06 4.235748935407115e-06
select AWAY_TEAM from TABLE_NAME_29 where AWAY_TEAM = "CARLTON"</s>
5.375504016876221
2231 7144 0.013247030787169933 0.0011339557822793722 8.455313244934324e-06 4.227656622467162e-06
select PARTY from TABLE_1341522_24 where DISTRICT = "MASSACHUSETTS4"</s>
5.793990612030029
2239 7144 0.007300585974007845 0.0006400247220881283 8.439059022079789e-06 4.219529511039894e-06
select OVERALL from TABLE_NAME_30 where POSITION = "COUNTRICK" and PICK__NUMBER < 16</s>
5.689102649688721
2247 7144 0.0009028376662172377 0.00035994561039842665 8.422735529643445e-06 4.211367764821722e-06
select PLAYER from TABLE_NAME_73 where COLLEGE = "APACHIAN STATE"</s>
5.63369083404541
2255 7144 -0.01555116567760706 0.001697252388112247 8.406343096413333e-06 4.203171548206666e-06
select RANK from TABLE_NAME_29 where FA = "FA"</s>
5.66241979598999
2263 7144 -0.0220596045255661 0.003235095413401723 8.389882052566106e-06 4.194941026283053e-06
select DATE from TABLE_1140090_6 where WINNING_DRIVER = "Chris Amon"</s>
5.487020015716553
2271 7144 -0.008482183329761028 0.0009276582859456539 8.373352729660373e-06 4.186676364830187e-06
select AREA from TABLE_1982739_2 where ENGLISH_NAME = "NANQIAPO DISTRICT"</s>
6.422829627990723
2279 7144 0.002552520949393511 0.0006208918639458716 8.35675546063002e-06 4.17837773031501e-06
select ENGINE_NAME from TABLE_NAME_42 where MAX_TORQUE_AT_RPM = "n·m ( lbf·ft ) @ 3,800"</s>
5.118289470672607
2287 7144 0.012669217772781849 0.0008778321207500994 8.340090579777507e-06 4.170045289888754e-06
select CATALOG from TABLE_NAME_58 where LABEL = "rca"</s>
6.425224304199219
2295 7144 0.01587875373661518 0.0017762671923264861 8.32335842276713e-06 4.161679211383565e-06
select count(no_in_series) from TABLE_18335117_5 where NO_OVERALL = "38"</s>
4.426743507385254
2303 7144 0.00414106622338295 0.00037155405152589083 8.30655932661826e-06 4.15327966330913e-06
select max(fall_09) from TABLE_15055594_6 where Fall 06 = 3821</s>
5.1735615730285645
2311 7144 -0.0057996767573058605 0.00040289422031491995 8.289693629698564e-06 4.144846814849282e-06
select RES from TABLE_NAME_7 where RECORD = "3–1"</s>
4.9578399658203125
2319 7144 -0.0083326930180192 0.0008215464185923338 8.272761671717178e-06 4.136380835858589e-06
select YEAR from TABLE where TIES = "1"</s>
5.881969928741455
2327 7144 -0.011613232083618641 0.0008962361607700586 8.255763793717868e-06 4.127881896858934e-06
select LOCATION from TABLE where TRAIN_STATIONS = "MOST"</s>
6.000301361083984
2335 7144 0.00676212040707469 0.0009428223711438477 8.238700338072167e-06 4.1193501690360835e-06
select max(ep) from TABLE_20967430_2 where ORIGINAL_AIR_DATE = "NOVEMBER 29, 1985"</s>
4.508133411407471
2343 7144 0.006586496718227863 0.0005513504729606211 8.221571648472473e-06 4.1107858242362366e-06
select OPPONENT from TABLE_NAME_52 where WEEK = "6"</s>
5.953267574310303
2351 7144 0.004288190044462681 0.00033725876710377634 8.204378069925121e-06 4.102189034962561e-06
select PLACE from TABLE_NAME_86 where COUNTRY = "australia" and PLAYER = "craig parry"</s>
5.887331962585449
2359 7144 -0.006502519827336073 0.0003541608457453549 8.18711994874345e-06 4.093559974371725e-06
select DIRECTED_BY from TABLE_17641206_4 where WRITTEN_BY = "JOHN SULLIVAN"</s>
5.487724781036377
2367 7144 -0.006185681093484163 0.0003440635628066957 8.16979763254081e-06 4.084898816270405e-06
select count(touchdowns) from TABLE_NAME_53 where EXTRA_POINTS < 0 and FIELD_GOALS < 0</s>
5.810417652130127
2375 7144 0.0012371719349175692 0.00021190219558775425 8.15241147022357e-06 4.076205735111785e-06
select MAX(PLAYED) from TABLE_14489821_1 where TEAM_MATCHES = "PLAYED"</s>
5.352804183959961
2383 7144 0.006242964882403612 0.0005247138906270266 8.13496181198409e-06 4.067480905992045e-06
select YEAR from TABLE where 2000 = "no"</s>
5.184416770935059
2391 7144 0.002835601568222046 0.0003093583509325981 8.117449009293668e-06 4.058724504646834e-06
select PARTNER from TABLE_NAME_94 where SCORE_IN_FINAL = "6–1, 6–2"</s>
5.777475357055664
2399 7144 0.0014529549516737461 0.00020870091975666583 8.099873414895453e-06 4.049936707447727e-06
select DATE from TABLE_NAME_51 where STATUS = "AGAINST" and AGAINST = "22"</s>
5.663441181182861
2407 7144 -0.006994625087827444 0.0004647332534659654 8.08223538279735e-06 4.041117691398675e-06
select SCORE from TABLE_NAME_75 where OPPONENT = "TIGERS" and RECORD = "78-64"</s>
6.3292365074157715
2415 7144 -0.0031377323903143406 0.0004172523913439363 8.064535268264883e-06 4.032267634132442e-06
select CAPACITY from TABLE_NAME_69 where HEAD_COACH = "RAINER KRAFT"</s>
6.128314018249512
2423 7144 0.0034395400434732437 0.00019809261721093208 8.046773427814043e-06 4.023386713907021e-06
select CALLSIGN from TABLE_NAME_34 where BRANDING = "MOM'S RADIO 101.9 ZAMBOANGA"</s>
5.587402820587158
2431 7144 0.0005290331318974495 0.00023192328808363527 8.0289502192041e-06 4.01447510960205e-06
select LEAGUE from TABLE_NAME_20 where TOTAL <143</s>
5.700315952301025
2439 7144 0.0007526903646066785 0.0001364128984278068 8.011066001430412e-06 4.005533000715206e-06
select SCORE from TABLE_NAME_29 where DECISION = "JOHNSON"</s>
5.1731133460998535
2447 7144 0.0006356602534651756 0.0003118737367913127 7.993121134717177e-06 3.996560567358589e-06
select OPENED_IN from TABLE_NAME_93 where RIDE_NAME = "Tiny Truckers" and MODE = "Convoy" and TYPE = "Tiny Truckers"</s>
4.727443695068359
2455 7144 -0.0029864786192774773 0.00037023783079348505 7.975115980510187e-06 3.987557990255093e-06
select SCORE from TABLE_11960610_10 where LOCATION_ATTENDANCE = "UNITED CENTER 22,097"</s>
5.9947590827941895
2463 7144 -0.0008695429423823953 0.0001615638320799917 7.957050901469544e-06 3.978525450734772e-06
select max(CAPS) from TABLE_NAME_55 where POSITION = "LOCK" and CLUB_PROSPERCE = "VICENZA rANGERS"</s>
5.566850662231445

2471 7144 0.009253652766346931 0.0009804638102650642 7.938926261462366e-06 3.969463130731183e-06
select cardinalatial_title from TABLE_NAME_40 where elector = "luccan" and elevated = "december 18, 1182"</s>
4.73054313659668
2479 7144 -0.0017807321855798364 0.00042110608774237335 7.920742425555436e-06 3.960371212777718e-06
select max(population__2002_census_data_) from TABLE_22854436_1 where 2002 census_data = "population__2002_census_data_"</s>
4.464055061340332
2487 7144 -0.008563969284296036 0.0006649757269769907 7.902499760007867e-06 3.951249880003934e-06
select POSITION from TABLE_11803648_20 where OVERALL = "126"</s>
5.25340461730957
2495 7144 0.0031870061066001654 0.0003407715994399041 7.884198632263725e-06 3.942099316131862e-06
select RESTYPE DESCRIPTION from TABLE_NAME where RESTYPE NAME = "SANDWICH"</s>
5.651818752288818